* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: monospace;
}

.header {
    background-color: rgb(168, 165, 114);
    padding: 20px 0;
}

h1 {
    text-align: center;
    /* text-decoration: underline; */
    font-size: 60px;
}

h2 {
    margin: 20px;
    text-align: center;
}

.tiempo {
    margin: 0px auto;
    text-align: center;
}
    .tiempo input {
        margin: 10px;
        padding: 5px;
        border-radius: 10px;
        border: 1px solid black;
    }
    .tiempo button {
        margin: 10px;
        width: 100px;
        text-align: center;
        font-weight: bold;
        padding: 5px;
        border-radius: 10px;
        color: whitesmoke;
        border: none;
        background-color: black;
    }
        .tiempo button:hover {
            cursor: pointer;
            transform: scale(1.05)
        }

.tmp {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    background-color: black;
}
    .tmp h3 {
        font-size: 20px;
        color: white;
    }
.mapa {
    background-color: whitesmoke;
    padding: 20px auto;
}

#mapid { 
    height: 350px;
    width: 80%;
    margin: 20px auto;
}

#chart1 {
    margin: 0px auto;
    width: 90%;
    height: 350px;
}
    .ct-series-a .ct-line {
        stroke: blue;
    }
    .ct-series-a .ct-point{
        stroke: blue;
    }
